**/gen/
**/edmx/
*.db
schema.sql

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

**/prog
#**/jar

# added by cds deploy
#default-env.json

.history/*
mta_archives/
srv/target/
srv/src/gen/
srv/src/main/resources/edmx/
db/src/gen/
db/node_modules/
node_modules/